@inherits LayoutComponentBase

<div class="sidebar">
    <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="/event-card">Event Card</NavLink>
    <NavLink href="/register">Register</NavLink>
    <NavLink href="/attendance-tracker">Attendance Tracker</NavLink>
</div>

<div class="main">
    @Body
</div>
